.BorTit
  border-left: 6px solid #F57C00
  padding: 3px 0px 3px 7px
  font-size: 0.8em


iframe
  border-radius: 10px

figcaption
  margin-top: 4px

caption
  margin-top: 4px

.introduccion-div1    
  -webkit-box-shadow: 3px 3px 13px 0px rgba(33,33,33,0.83); 
  box-shadow: 3px 3px 13px 0px rgba(33,33,33,0.83);
  border-radius: 20px
  

.color-1
  color: #F57C00

.cubo-titulo
  width: 46px
  height: 43px
  position: relative
  top: -16px
  left: 20px
  
.tema2-div1  
  background-image: url("../assets/curso/tema2/img08.svg")  
  background-repeat: no-repeat
  background-position: center

.tema2 .cajon.color-acento-contenido 
    background-color: #FFF5E5;

.tema2-1 .bloque-texto-g.color-primario 
    background-color: white;

.tema2-1 .bloque-texto-g__img
  width: 45% !important

.tema2-1 .bloque-texto-g__texto     
  background-color: rgba(226, 244, 246, 0.8) !important

.td-borde1
  border-right: 1px solid #e8e8e8 !important

.tema3 .bloque-texto-d.color-secundario:before 
    background-color: #FFEDD3;

.tema5-avatar1 .tarjeta.color-primario 
  background-color: #F6F6F6

.tema-5 .tarjeta--azul 
    background-color: #FFD99D;

.tema-5 .tarjeta--gris 
  background-color: #E2F4F6;

.tema-5-borde1
  border-right: 2px solid #F57C00

.tema-6-div1
  background-color: #E2F4F6
  border-radius: 15px

.tabs-c.color-primario .tabs-c__tab--active span
  color: #F57C00
  font-weight: bold

.tema-7 .tarjeta.color-acento-contenido 
  background-color: #FFF9E0;
  color: black

.tema-7 .tarjeta.color-acento-contenido * 
    color: $color-sistema-texto;

.tema-7 .img-infografica.color-acento-contenido .img-infografica__item__numero, .img-infografica-b.color-acento-contenido .img-infografica__item__numero 
    color: $color-sistema-texto;

.tema-7 .slyder-a__btn--sigt, .slyder-a__btn--atrs
  background-color: #26CCDA !important

.tema-7 .tarjeta.color-acento-contenido 
  background-color: #E2F4F6;    

.tema-7 .pasos-a.color-primario .pasos-a__circle div
  color: white !important

.introduccion-cubo
  width: 70px
  height: 65px

.introduccion-imagen
  width: 306px
  height: 190px



.tema-2-boton-1 .tarjeta--boton
  background-color: #FFD99D

.tema-7-info .tarjeta.color-acento-contenido
  background-color: #FFF9E0 !important

.tema-7-info .tarjeta.color-acento-contenido * 
  color: $color-sistema-texto !important







  